    <div id="cookie-config" 
        data-ga-id="{{ config.GOOGLE_ANALYTICS_ID }}" 
        data-clarity-id="{{ config.CLARITY_ID }}"> 
    </div>
<div id="cookie-banner" class="cookie-banner">
    <p>Utilizamos cookies de análisis para mejorar tu experiencia. ¿Aceptas el uso de estas cookies?</p>
    <div class="cookie-actions">
        <button id="accept-cookies" class="cta-button primary">Aceptar</button>
        <button id="reject-cookies" class="cta-button secondary">Rechazar</button>
    </div>
</div>
